= form_for @url, html: { class: "form form-horizontal url" } do |f|
  .form-group
    = f.label :href, class: 'control-label'
    .controls
      = f.text_field :href, class: 'form-control', required: true
    = error_span(@url[:href])
  .form-group
    = f.label :fetchable, class: 'control-label'
    .controls
      = f.text_field :fetchable, class: 'form-control', required: true
    = error_span(@url[:fetchable])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), urls_path, :class => 'btn btn-default'
