= form_for @book, html: { class: "form form-horizontal book" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@book[:name])
  .form-group
    = f.label :image, class: 'control-label'
    .controls
      = f.text_field :image, class: 'form-control', required: true
    = error_span(@book[:image])
  .form-group
    = f.label :timeStamp, class: 'control-label'
    .controls
      = f.text_field :timeStamp, class: 'form-control', required: true
    = error_span(@book[:timeStamp])
  .form-group
    = f.label :author, class: 'control-label'
    .controls
      = f.text_field :author, class: 'form-control', required: true
    = error_span(@book[:author])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control', required: true
    = error_span(@book[:description])
  .form-group
    = f.label :ebook_state, class: 'control-label'
    .controls
      = f.text_field :ebook_state, class: 'form-control', required: true
    = error_span(@book[:ebook_state])
  .form-group
    = f.label :isNewEbooks, class: 'control-label'
    .controls
      = f.text_field :isNewEbooks, class: 'form-control', required: true
    = error_span(@book[:isNewEbooks])
  .form-group
    = f.label :stateLike, class: 'control-label'
    .controls
      = f.text_field :stateLike, class: 'form-control', required: true
    = error_span(@book[:stateLike])
  .form-group
    = f.label :isVip, class: 'control-label'
    .controls
      = f.text_field :isVip, class: 'form-control', required: true
    = error_span(@book[:isVip])
  .form-group
    = f.label :urlDownload, class: 'control-label'
    .controls
      = f.text_field :urlDownload, class: 'form-control', required: true
    = error_span(@book[:urlDownload])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), books_path, :class => 'btn btn-default'
