%h1 Listing books

%table
  %tr
    %th Name
    %th Image
    %th Timestamp
    %th Author
    %th Description
    %th Ebook state
    %th Isnewebooks
    %th Statelike
    %th Isvip
    %th Urldownload
    %th Urlsavelocal
    %th
    %th
    %th

  - @books.each do |book|
    %tr
      %td= book.name
      %td= book.image
      %td= book.timeStamp
      %td= book.author
      %td= book.description
      %td= book.ebook_state
      %td= book.isNewEbooks
      %td= book.stateLike
      %td= book.isVip
      %td= book.urlDownload
      %td= book.urlSaveLocal
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Book', new_book_path
